* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido
{
    padding: 60px 0;
    max-width: 1000%
    margin auto;
    overflow: hidden;
    font-family: 'Gotu', sans-serif;
    text-align: center;
    float: left;
    width: 65%;
    margin-left: 15%;
}
.pagina 
{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    float: left;
    width: 65%;
}
/* Header, ola */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/help.jpg);
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/help.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.titulo
{
    color: #0000FF;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}
/*navegacion*/


.navegacion{
    width: 100%;  
    margin: auto;
    background: blue;
    height: 10px;
}

.navegacion ul{
    list-style: none;
    background: blue;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    color: black;
}



aside {
    width: 30%;
    background: #fff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}



/*pag*/
h2{
    height: 80%;
    padding sans-serif;
}
p{
    height: 80%;
    padding sans-serif;
    color: black;
}
/*pie de pagina*/
.pie {
    clear: both;
    color: white;
    background-color: #2B63BA;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 120%;
}
/*anuncios*/
.anuncio{
    padding sans-serif;
    color: blue;
    padding: 10%;
    font-size: 100%;
}
