* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(147,211,230,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(147,211,230,1) 0%, rgba(78,204,239,1) 25%, rgba(65,198,232,1) 36%, rgba(23,177,211,1) 72%, rgba(147,211,230,1) 93%, rgba(147,211,230,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(147,211,230,1)), color-stop(25%, rgba(78,204,239,1)), color-stop(36%, rgba(65,198,232,1)), color-stop(72%, rgba(23,177,211,1)), color-stop(93%, rgba(147,211,230,1)), color-stop(100%, rgba(147,211,230,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(147,211,230,1) 0%, rgba(78,204,239,1) 25%, rgba(65,198,232,1) 36%, rgba(23,177,211,1) 72%, rgba(147,211,230,1) 93%, rgba(147,211,230,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(147,211,230,1) 0%, rgba(78,204,239,1) 25%, rgba(65,198,232,1) 36%, rgba(23,177,211,1) 72%, rgba(147,211,230,1) 93%, rgba(147,211,230,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(147,211,230,1) 0%, rgba(78,204,239,1) 25%, rgba(65,198,232,1) 36%, rgba(23,177,211,1) 72%, rgba(147,211,230,1) 93%, rgba(147,211,230,1) 100%);
    background: radial-gradient(ellipse at center, rgba(147,211,230,1) 0%, rgba(78,204,239,1) 25%, rgba(65,198,232,1) 36%, rgba(23,177,211,1) 72%, rgba(147,211,230,1) 93%, rgba(147,211,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93d3e6', endColorstr='#93d3e6', GradientType=1 );
}
.contenido
{
    padding: 60px 0;
    max-width: 1000%
    margin auto;
    overflow: hidden;
    font-family: 'Gotu', sans-serif;
    text-align: center;
    float: left;
    width: 65%;
    margin-left: 15%;
}
.pagina 
{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    float: left;
    width: 65%;
}
.titulo
{
    color: #0000FF;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}
/*navegacion*/


.navegacion{
    width: 100%;  
    margin: auto;
    background: blue;
    height: 10px;
}

.navegacion ul{
    list-style: none;
    background: blue;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}



aside {
    width: 30%;
    background: #fff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}


h2{
    height: 80%;
    padding sans-serif;
    color: #19EDDA;
    text-align: center;
}
p{
    height: 80%;
    padding sans-serif;
    color: black;
}
h1{
    color: #193838;
    text-align: center;
}
/*pie de pagina*/
.pie {
    clear: both;
    color: white;
    background-color: #2B63BA;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 120%;
}
