* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenido
{
    padding: 60px 0;
    max-width: 1000%
    margin auto;
    overflow: hidden;
    font-family: 'Gotu', sans-serif;
    text-align: center;
    float: left;
    width: 65%;
    margin-left: 15%;
}
.pagina 
{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    float: left;
    width: 65%;
}

/*navegacion*/


.navegacion{
    width: 100%;  
    margin: auto;
    background: blue;
    height: 10px;
}

.navegacion ul{
    list-style: none;
    background: blue;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none;
    color: #fff;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
    color: black;
}



aside {
    width: 30%;
    background: #fff;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

/*productos*/


.dulces img{
	width: 200%;
	padding: 200px;
}
.card{
	border-radius: 500px;
	background-color: white;
	box-shadow: 0 1px 80px rgba(0,0,0,0.12), 0 1px 30px rgba(0,0,0,0.24);
}
h3{
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}
p{
	text-align: center;
	font-size: 1.7em;
	margin-top: 5px;
	margin-bottom: 5px;
}
/*pie de pagina*/
.pie {
    clear: both;
    color: white;
    background-color: #2B63BA;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 120%;
}
/*up*/

.ir-arriba{
    display: inline-circle;
    padding: 20px;
    background-color: #024959;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px
}